.badge{
    width:70px;
    height:70px;
    border-radius:50%;
    background-color: #00cc9c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abc{
    display:flex;
    justify-content:center;
    align-items:center;
    height:150px;
}
@keyframes pulse1{
    0% {
        opacity:0.5;
    }
    100% {
        transform: scale(1.5);
        opacity:0;
    }
}
.text{
    position: relative;
    z-index: 2;
}

.pulser{
    position:absolute;
    z-index:1;
    width: inherit;
    height:inherit;
    border-radius:inherit;
    background-color:inherit;
    animation: 
    pulse1 1.75s ease-out infinite;
}
